<div class="row">
  <div class="col-xs-12">
   <button class="btn btn-success">New Phone</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
   <app-phone-item *ngFor="let phoneEl of phones" 
   [phone]="phoneEl"></app-phone-item>
  </div>
</div>

