<a
       href="#" 
       class="list-group-item clearfix" (click) ="onSealed()">
    <div 
       class="pull-left">
     <h4 
       class="list-group-item-heading">{{phone.name}}</h4>
       <p class="list-group-text">{{phone.description}}</p>
    </div>
    <span 
       class="pull-right">
      <img 
      [src] ="phone.imagePath"
      alt="{{phone.name}}" 
      class="img-responsive" 
      style="max-height: 50px;">
    </span>
  </a>
