<app-header (wellSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
       <app-phone *ngIf="loadedWell === 'phone'"></app-phone>
       <app-shopping-list *ngIf="loadedWell !== 'phone'"></app-shopping-list>
    </div>
  </div>
</div>
