<div class="row">
  <div class="col-xs-12">
    <img src="{{phone.imagePath}}" alt="{{ phone.name }}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
   <h1>{{phone.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button 
      type="button" 
      class="btn btn-primary dropdown-toggle">Manage Phone
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" appDropdown>
      <li><a href="#">Add Shopping List</a></li>
      <li><a href="#">Edit Shopping List</a></li>
      <li><a href="#">Delete</a></li>
  </ul>
    </div>
  </div>
</div>
<div class="row">
   <div class="col-xs-12">
    {{phone.description}}
   </div>
</div>
<div class="row">
   <div class="col-xs-12">
      {{phone.accesseries}}
   </div>
</div>
